h1{
  color: white;
  background-color: black;
  text-align: center;
  border-radius: 10px;
}

h3{
  text-align: center;
}

body {
  background-color: lightgrey;
}

.mealDiv {
  padding: 20px;
  text-align: center;
}
.mealImage {
  width: 300px;
  border-radius: 10px;
}

#mealContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}
